package si.mojkrvnitlak.data

import androidx.room.*
import kotlinx.coroutines.flow.Flow

@Dao
interface MeasurementDao {
    @Query("SELECT * FROM measurements ORDER BY measuredAt DESC")
    fun observeAll(): Flow<List<Measurement>>

    @Insert(onConflict = OnConflictStrategy.REPLACE)
    suspend fun insert(item: Measurement)

    @Delete
    suspend fun delete(item: Measurement)

    @Query("DELETE FROM measurements")
    suspend fun deleteAll()
}
